/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* App.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f3f4f6;
}

button {
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4F82D9;
}
